<div class="center">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div id="myModalContent"></div>
            <div id="modelClose">
                <span id="closeBtn" class="btn">Close</span>
            </div>
        </div>
    </div>
</div>