@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --clr-primary-standard: #ffffff;
  --clr-primary-shadow: #e2e2e2;
  --clr-accent-standard: #0295e4;
  --clr-accent-light: #90c3dd;
  --clr-accent-shadow: #16587c;
  --ff-primary: "Ubuntu", sans-serif;
  --ff-titles: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background: var(--clr-accent-light);
  height: 100%;
}
img {
  max-width: 100%;
  display: inline-block;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-size: 1.3em;
  margin-bottom: .2em;
}

footer {
  background: var(--clr-primary-shadow);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.5em;
}
.body {
  padding-top: 100px;
}
/* HEADER & NAVBAR */
header {
  background: var(--clr-primary-standard);
  color: #000;
  position: fixed;
  width: 100%;
  border-bottom: 3px solid rgba(22, 22, 22, 0.5);
  z-index: 2;
}
header::after {
  content: "";
  clear: both;
  display: block;
}
.logo {
  float: left;
  margin: 0;
  width: 13em;
  height: 4em;
  margin-right: 1.5em;
}
.site-nav {
  background: var(--clr-primary-standard);
  position: absolute;
  top: 100%;
  right: 0%;
  height: 0px;
  overflow: hidden;
  white-space: nowrap;
}
.site-nav ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-align: left;
}
.site-nav li {
  border-left: 2px solid var(--clr-primary-shadow);
  border-right: 2px solid var(--clr-primary-shadow);
  border-bottom: 2px solid var(--clr-primary-shadow);
}
.site-nav li:last-child {
  box-shadow: 1px 2px #000;
}
.site-nav a {
  color: var(--clr-accent-standard);
  text-decoration: none;
  font-weight: 600;
  text-shadow: 1px 1px rgb(48, 48, 48);
  display: block;
  text-transform: uppercase;
  padding: 0.75em 3em;
  text-align: center;
}
.site-nav-open {
  height: auto;
}
.site-nav a:hover,
.site-nav a:focus {
  background: var(--clr-accent-light);
  color: #fff;
}
.menu-toggle {
  padding: 0.8em;
  position: absolute;
  top: 0.6em;
  right: 0.5em;
  cursor: pointer;
  border: 3px solid var(--clr-accent-standard);
  border-radius: 4px;
}
.burger,
.burger::before,
.burger::after {
  content: "";
  display: block;
  background: var(--clr-accent-shadow);
  height: 3px;
  width: 1.75em;
  border-radius: 4px;
  transition: ease-in-out 300ms;
}
.burger::before {
  transform: translateY(-8px);
}
.burger::after {
  transform: translateY(5px);
}
.menu-open .burger {
  transform: rotate(45deg);
}
.menu-open .burger::before {
  opacity: 0;
}
.menu-open .burger::after {
  transform: translateY(-3px) rotate(-90deg);
}

section {
  padding: 1rem 0;
}
.container {
  width: 90%;
  min-width: 0.6vw;
  margin: 0 auto;
  text-align: center;
  background: var(--clr-primary-standard);
  border: 3px solid var(--clr-accent-standard);
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 1px 2px var(--clr-accent-shadow);
}
.container--indexhead {
  width: 95%;
  padding: 20px;
}
.container--indexbody {
  width: 90%;
  padding: 20px;
}
.container--register {
  width: 90%;
  margin-bottom: 1rem;
  padding-bottom: 20px;
}
.container--details {
  width: 97%;
  margin-bottom: 1rem;
}
.container--admin {
  width: 22rem;
  height: 30rem;
}
.container--dex {
  width: 80%;
  margin-bottom: 1rem;
  padding: 15px;
}
.container--areadetails{
  width: 90%;
  margin-bottom: 1rem;
  padding-bottom: 20px;
}
.container--register label {
  font-size: 2vh;
  display: inline-block;
}
.container--register input {
  width: 80%;
}
.container--register td:nth-child(2) {
  text-align: center;
}
.container--dexhead {
  width: 80%;
  margin-bottom: 0.4em;
}
.container-area {
  position: relative;
  text-align: center;
  color: var(--clr-accent-standard);
  z-index: 1;
  width: 50vw;
  margin:0;
  padding: 5px;
}
.container-area img {
  border: solid 2px var(--clr-accent-standard);
  border-radius: 1em;
  box-shadow: 3px 6px var(--clr-accent-shadow);
  transform: scale(0.95, 0.95);
  transition: all 0.5s;
}
.container-area img:hover {
  border: solid 2px var(--clr-primary-standard);
  transform: scale(1, 1);
}
.container-area p {
  pointer-events: none;
}
.wrapper-pokemon {
  padding: 5px;
  border: solid 2px var(--clr-accent-standard);
  border-radius: 5%;
  box-shadow: 2px 4px var(--clr-accent-shadow);
  background: #d7f1ff;
}
.wrapper-areapoke {
  padding: 5px;
  border-radius: 2em;
  margin: 0.5em;
}
.wrapper-areapoke--common {
  border: solid 2px var(--clr-accent-standard);
  background: #e1ecf1;
}
.wrapper-areapoke--common .txt-rarity{
  color: var(--clr-accent-standard);
  text-shadow: 2px 2px #000;
}
.wrapper-areapoke--uncommon {
  border: solid 2px #499902;
  background: #e9fdd7;
}
.wrapper-areapoke--uncommon .txt-rarity{
  color: #5ec002;
  text-shadow: 2px 2px #000;
}
.wrapper-areapoke--rare {
  border: solid 2px #ffe365;
  background: #fff8cf;
}
.wrapper-areapoke--rare .txt-rarity{
  color: #d3b11a;
  text-shadow: 2px 2px #000;
}
.wrapper-areapoke--legendary {
  border: solid 2px #fc6464;
  background: #ffb4b4;
}
.wrapper-areapoke--legendary .txt-rarity{
  color: #ff4f4f;
  text-shadow: 2px 2px #000;
}
.txt-rarity {
  font-size: 1.6rem;
  font-weight: 500;
}
.txt-area {
  position: absolute;
  top: 40%;
  left: 50%;
  line-height: 1em;
  transform: translate(-50%, -40%);
  text-shadow: -2px -1px 0 #000, 2px -1px 0 #000, -2px 1px 0 #000,
    2px 1px 0 #000;
  color: var(--clr-primary-standard);
}

.txt-arealevel {
  text-shadow: 1px 1px var(--clr-accent-shadow);
  font-size: 2.2vh;
}
.pokemonImg {
  margin-top: 4px;
  max-width: 96px;
  height: 96px;
  border: 3.5px solid var(--clr-accent-standard);
  border-radius: 100%;
  border-style: outset;
  box-shadow: -3px 3px rgba(0, 0, 0, 0.6);
  background: rgb(216, 216, 216);
}
.pokemonImg--legend {
  filter:blur(3px);
}
.split {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin: 1%;
  margin-bottom: 2rem;
}
.split--areararities {
  flex-direction: column;
  gap: 5px;
}
.split--areas {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  gap: 15px;
  margin: 1%;

}
.split--mypoke {
  display: inline-flex;
  flex-wrap: wrap;
}
.splitcol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
}
.split--pages {
  padding-bottom: 3rem;
}
.split--filter {
  margin-top: 15px;
  justify-content:start;
  gap: 15px;
}

.poke-info {
  width: 50%;
  min-width: 20%;
  max-width: 210px;
  margin-top: 10px;
}
.poke-info--index img:hover {
  background: var(--clr-accent-light);
  cursor: pointer;
}
.txt-pokename {
  font-size: 0.8em;
  font-weight: 500;
  color: #000;
  text-shadow: 1px 1px var(--clr-accent-light);
}
.txt-pokename--dex {
  font-size: 1.4em;
  font-weight: 600;
  color: #000;
  text-shadow: 1px 1px var(--clr-accent-light);
}
.txt-pokename--account {
  color: #000;
  text-shadow: 1px 1px var(--clr-accent-light);
}
.txt-type2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.txt-type {
  display: inline-block;
  width: 80px;
  margin-bottom: 4px;
  background: #dbdbdb;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
  text-transform: uppercase;
}
.txt-type--fire {
  background-color: #f0412a;
}
.txt-type--grass {
  background-color: #7c5;
}
.txt-type--normal {
  background-color: #aa9;
}
.txt-type--dark {
  background-color: #303030;
}
.txt-type--flying {
  background-color: #89f;
}
.txt-type--water {
  background-color: #39f;
}
.txt-type--dragon {
  background-color: #76e;
}
.txt-type--bug {
  background-color: #ab2;
}
.txt-type--psychic {
  background-color: #f59;
}
.txt-type--rock {
  background-color: #ba6;
}
.txt-type--poison {
  background-color: #a59;
}
.txt-type--electric {
  background-color: #fc3;
}
.txt-type--fairy {
  background-color: #e9e;
}
.txt-type--ground {
  background-color: #db5;
}
.txt-type--ghost {
  background-color: #66b;
}
.txt-type--steel {
  background-color: #aab;
}
.txt-type--fighting {
  background-color: #b54;
}
.txt-type--ice {
  background-color: #6cf;
}
.txt-error {
  color: red;
  font-size: 2vh;
}
.field-validation-error {
  color: red;
}
.index-info {
  margin: 1em;
}
.index-info p {
  font-size: 1.2em;
  font-weight: 400;
}
.indexinfo-img {
  max-width: 700px;
  min-width: 20%;
  background: lightcoral;
}
.indexinfo-txt {
  max-width: 60%;
  min-width: 20%;
}
.text-link,
.text-link a {
  text-decoration: none;
  color: var(--clr-accent-standard);
  text-shadow: 1px 1px #000;
}
.text-link:hover,
.text-link:focus,
.text-link a:hover,
.text-link a:focus {
  text-decoration: none;
  color: var(--clr-accent-shadow);
  text-shadow: 1px 1px #000;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  padding: 2%;
}
.flex img {
  max-width: 30rem;
}
.flex img:hover {
  background: var(--clr-accent-light);
  cursor: pointer;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.wrapperDexHead {
  padding: 2%;
}
.validation-summary-errors ul {
  list-style-type: none;
  color: rgb(214, 60, 60);
}


.multi-list {
  width: 70%;
  font-size: 1.8vh;
}

.select2-selection__rendered {
  font-size: 1.7vh;
}
.modal {
  display: none; 
  left: 50%;
  top: 10%;
  transform: translate(-50%, 10%);
  position: fixed; 
  z-index: 1; 

  width: 40vh; 
  height: 60%; 
  overflow: auto; 
}
.modal--account {
  width: 60vh;
  height: 50vh;
}
.modal--account .modal-content {
  padding: 20px;
  margin:5% auto;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.center {
  text-align: center;
}
.txt-admin a {
  text-decoration: none;
  background: rgb(206, 206, 206);
  padding: 5px;
  border: solid 2px var(--clr-accent-shadow);
  border-radius: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2vh;
}
.txt-title {
  font-size: 4vh;
  padding-top: 10px;
  text-shadow: 2px 1px rgb(0, 0, 0);
  color: var(--clr-accent-standard);
}
.txt-admin a:hover,
.txt-admin a:focus {
  background: #919191;
}
.txt-admin--delete a {
  color: #ff7552;
}
.txt-admin--delete a:hover,
.txt-admin--delete a:focus {
  color: #ff1e00;
  border: solid 2px #da5341;
}
.txt-admin--update a {
  color: var(--clr-accent-standard);
}
.txt-admin--update a:hover,
.txt-admin--update a:focus {
  color: #2e77ff;
  border: solid 2px var(--clr-accent-standard);
}
.txt-adminpanel a {
  text-decoration: none;
  background: var(--clr-primary-shadow);
  padding: 10px;
  font-size: 3vh;
  color: var(--clr-accent-standard);
  text-shadow: 1px 1px rgb(48, 48, 48);
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 2px 4px var(--clr-accent-shadow);
}
.txt-adminpanel a:hover,
.txt-adminpanel a:focus {
  color: var(--clr-accent-shadow);
}
.splitcol--admin {
  gap: 5vh;
  margin-bottom: 6vh;
}
.btn {
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--clr-accent-standard);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--clr-accent-standard);
  text-align: center;
  background-color: var(--clr-primary-standard);
  box-shadow: 1px 2px var(--clr-accent-shadow);
  border-radius: 5px;
}
.btn--small{
  font-size: 2vh;
}
.btn--xsmall {
  font-size: 1.5vh;
}
.btn-delete {
  color:  #da5341;
  border: 0.1em solid #da5341;
}
.btn--update {
  font-size: 2.5vh;
}
.btn:hover,
.btn:focus {
  color: var(--clr-primary-standard);
  background-color: var(--clr-accent-light);
  border: 0.1em solid var(--clr-primary-standard);
  cursor: pointer;
}
.btn-delete:hover,
.btn-delete:focus {
  color: #ff1e00;
  background-color: #f37b6b;
  border: 0.1em solid #ff1e00;
  cursor: pointer;
}
.btn--catch {
  color:  #000;
  border: 0.1em solid #93ff73;
  background-color: rgb(133, 219, 99);
  font-size: 2vh;
}
.btn--catch:hover,
.btn--catch:focus {
  color: #000;
  background-color: #bef8b7;
  border: 0.1em solid #00ff4c;
  cursor: pointer;
}
.btn-disabled {
  display: none;
}
#modelClose {
  margin-top: 1rem;
}
input[type=number] {
    width: 4rem;
}
input[type=text],
input[type=password] {
  width: 10rem;
}
.required:after {
  content:" *";
  color: red;
}
textarea {
  width: 259px;
  height: 111px;
}
.indeximg {
  border: 3px solid var(--clr-accent-standard);
  border-radius: 10px;
  box-shadow: 1px 2px var(--clr-accent-shadow);
}
.areaImg {
  border: 3px solid var(--clr-accent-standard);
  border-radius: 10px;
  box-shadow: 1px 2px var(--clr-accent-shadow);
}
.tb-details {
  margin: 0 auto;
  text-align: center;
  font-size: 2vh;
  padding: 5px;
  max-width: 100%;
  table-layout: fixed;
  width: 100%;
}
.tb-details td {
  text-align: center;
  border: solid 1px var(--clr-accent-shadow);
  word-wrap: break-word;
  width: 65%;
}