@model JamesAPokemonWAD.Models.ChangePassword;
@{ 
    string id = (string)ViewData["UserId"];
}
<div class="container container--details">
    <div class="split">
        <form asp-controller="Account" asp-action="ChangePassword">

            <input type="hidden" name="UserId" value="@id"/>
            <table>
                <tr>
                    <td><label class="required" asp-for="NewPassword">New Password</label></td>
                    <td><input type="password" asp-for="NewPassword" /></td>
                </tr>
                <tr>
                    <td><label class="required" asp-for="ConfirmPassword">Confirm Password</label></td>
                    <td><input type="password" asp-for="ConfirmPassword" /></td>
                </tr>
            </table>
            <div class="splitcol">
                <span asp-validation-for="NewPassword" class="txt-error"></span>
                <span asp-validation-for="ConfirmPassword" class="txt-error"></span>
            </div>


            <a><input type="submit" value="Change Password" class="btn btn--update" /></a>

        </form>
    </div>
    @if ((bool)ViewData["Successful"] == true)
	{
		 <p class="txt-pokename">Password successfully changed.</p>
	}
</div>
<div class="split">
    <a href="javascript:void(0)" id="historyBackBtn"
       class="btn">
        Back
    </a>
</div>

