@model JamesAPokemonWAD.Models.Login;

@{
    ViewData["Title"] = "Log in";
}
<div class="container container--register">
    <h2 class="txt-title">Sign In</h2>
    <section>
        <form asp-controller="Account" asp-action="Login" method="post">
            <table>
                <tr>
                    <td><label asp-for="UserName">Username</label></td>
                    <td><input type="text" asp-for="UserName" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="tdValidation"><span asp-validation-for="UserName" class="txt-error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Password"></label></td>
                    <td><input type="password" asp-for="Password" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="tdValidation"><span asp-validation-for="Password" class="txt-error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="RememberMe">Remember me</label></td>
                    <td><input type="checkbox" asp-for="RememberMe" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="tdValidation"> @Html.ValidationMessage("LoginFailed") </td>
                </tr>
            </table>
            <div>
                <button class="btn btn--update" type="submit">Login</button>
            </div>

            <h3 class="text-link"><a asp-controller="Account" asp-action="Register">Create New User Account</a></h3>

        </form>
    </section>
</div>
